@supports (display: grid) {
  div {
    display: grid;
  }

  @media screen and (min-width: 900px) {
    article {
      display: flex;
    }
  }
}

.test-div {
  width: 100px;
  height: 40px;
  color: #275781;
  line-height: 40px;
  background: #4cf69c;
  border-radius: 5px;
  text-align: center;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; /* 2 */
}

details, 
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.am-fade-enter.am-fade-enter-active,
.am-fade-appear.am-fade-appear-active {
  -webkit-animation-name: amFadeIn;
          animation-name: amFadeIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.am-fade-leave.am-fade-leave-active {
  -webkit-animation-name: amFadeOut;
          animation-name: amFadeOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes amFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes amFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes amFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes amFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.am-slide-up-enter,
.am-slide-up-appear {
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.am-slide-up-leave.am-slide-up-leave-active {
  -webkit-animation-name: amSlideUpOut;
          animation-name: amSlideUpOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes amSlideUpIn {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes amSlideUpIn {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes amSlideUpOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

@keyframes amSlideUpOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

.am.am-zoom-enter,
.am.am-zoom-leave {
  display: block;
}